[submodule "Third-Party-Libraries/OpenBLAS"]
	path = Third-Party-Libraries/OpenBLAS
	url = https://github.com/OpenMathLib/OpenBLAS
[submodule "Third-Party-Libraries/ffmpeg"]
	path = Third-Party-Libraries/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
[submodule "Third-Party-Libraries/World"]
	path = Third-Party-Libraries/World
	url = https://github.com/mmorise/World
[submodule "Third-Party-Libraries/Faiss"]
	path = Third-Party-Libraries/Faiss
	url = https://github.com/facebookresearch/faiss
[submodule "libsvc-onnx/Third-Party-Libraries/fftw"]
	path = libsvc-onnx/Third-Party-Libraries/fftw
	url = https://github.com/FFTW/fftw3
[submodule "Third-Party-Libraries/fftw"]
	path = Third-Party-Libraries/fftw
	url = https://github.com/FFTW/fftw3
[submodule "Third-Party-Libraries/yyjson"]
	path = Third-Party-Libraries/yyjson
	url = https://github.com/ibireme/yyjson
[submodule "Third-Party-Libraries/libmidi"]
	path = Third-Party-Libraries/libmidi
	url = https://github.com/celtera/libremidi
[submodule "Third-Party-Libraries/ortmain"]
	path = Third-Party-Libraries/ortmain
	url = https://github.com/Microsoft/onnxruntime
